body {
    min-height: 100vh;
    background-color: var(--hintergrund-color);
    padding-top: 53px;
}

.gluckwunsch-block {
    gap: 125px;
    align-items: center;
}

.thank-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 44px;
}

.thank-info1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.thank-info2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.thank-info3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-top: 30px;
}

.thank-you-button {
    width: 370px;
    padding: 19px 0;
    background: var(--button-color);
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    margin-top: 44px;
}

.thank-you-button:hover {
    background-color: var(--button-hover-color);
}

.thank-info4 {
    margin-top: 44px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.thank-image {
    width: 100%;
    max-width: 550px;
    height: auto;
    max-height: 529px;
    object-fit: cover;
}

.links-block {
    gap: 40px;
    margin-bottom: 81px;
}

.thank-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    border: 1px solid #000;
    background-color: transparent;
    width: 100%;
    padding: 20px;
    transition: all 0.25s ease;
    color: #000;
    text-decoration: none;
    width: 100%;
    max-width: 187px;
    text-align: center;
    margin-top: 20px;
}

.thank-link:hover {
    background-color: #000;
    color: #fff;
}

.photographer-adver-block {
    background-color: var(--second-hintergrund-color);
}

.photographer-adver-block h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

.photographers-positions {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: var(--button-color);
    margin: 25px 0 22px 0;
}

.adver1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.adver2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-top: 12px;
}

.messangers-icons {
    gap: 29px;
    margin-top: 35px;
}

.section-13 {
    background-color: #F5EDE0 !important;
}

@media (max-width:1170px) {
    .thank-you-block {
        text-align: center;
    }

    .gluckwunsch-block {
        flex-direction: column;
        gap: 22px;
        align-items: center;
    }

    .gluckwunsch-block-text {
        align-items: center;
    }


    .links-block {
        margin-top: 20px;
        justify-content: center;
    }

    .thank-title {
        font-size: 40px;
        margin-bottom: 22px;
    }

    .thank-info1 {
        font-size: 20px;
    }


    .thank-info2 {
        font-size: 20px;
    }

    .thank-info3 {
        font-size: 20px;
        margin-top: 0px;
    }

    .thank-you-button {
        font-size: 20px;
        margin-top: 22px;
    }

    .thank-info4 {
        font-size: 20px;
        margin-top: 28px;
    }

    .thank-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        max-height: 389px;
        object-fit: cover;
    }

    .thank-link {
        max-width: 200px;
        text-align: center;
    }

    .photographer-adver-block h3 {
        font-size: 28px;
    }

    .photographers-positions {
        font-size: 22px;
    }

    .adver1 {
        font-weight: 500;
        font-size: 20px;
    }

    .adver2 {
        font-size: 20px;
    }
}

@media (max-width:510px) {
    .thank-title {
        font-size: 32px;
        margin-bottom: 22px;
    }

    .thank-info1 {
        font-size: 18px;
    }


    .thank-info2 {
        font-size: 18px;
    }

    .thank-info3 {
        font-size: 18px;
        margin-top: 0px;
    }

    .thank-you-button {
        font-size: 18px;
        margin-top: 22px;
    }

    .thank-info4 {
        font-size: 18px;
        margin-top: 28px;
    }

    .thank-you-button {
        width: 300px;
        font-size: 18px;
    }

    .thank-link {
        font-size: 18px;
        padding: 14px;
        max-width: 172px;
    }

    .icon img {
        width: 42px;
        height: 42px;
    }
}