.section-1 {
    background-image: url("https://images.unsplash.com/photo-1476703993599-0035a21b17a9?w=800&h=800&fit=crop&q=80");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #F5EDE0;
    text-decoration: none;
}

.section-1-block-left {
    max-width: 600px;
}

.section-1-block-left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.section-1-block-left p:nth-of-type(2) {
    color: var(--button-color);
}

.section-1-block-right {
    max-width: 600px;
    margin-left: auto;
}

.section-1-block-right h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--button-color);
}

.section-1-block-right p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

/* КНОПКА */
.thank-btn {
    background-color: var(--button-color);
    color: #fff;
    border-radius: 15px;
    padding: 11px 25px;
    font-size: 18px;
    transition: 0.3s;
}

.thank-btn:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

.section-1-block-left2 {
    max-width: 775px;
}

.section-1-block-left2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}